[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
pillow = "*"
drf-yasg = "*"
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
